<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- PostgreSQL Server, MELO-HOME -->
		<add key="SMS_PostgreSQL_Host" value="172.25.7.23" />
		<add key="SMS_PostgreSQL_Port" value="5432" />
		<add key="SMS_PostgreSQL_Schema" value="sde" />
		<add key="SMS_PostgreSQL_UserID" value="ebs" />
		<add key="SMS_PostgreSQL_Database" value="sms_prod" />
		<add key="SMS_PostgreSQL_Password" value="Vm6PAkPh" />

		<!-- MS SQL Server, MELO-HOME -->
		<!--<add key="Host" value="melo-home\sqlexpress" />
		<add key="Database" value="SMS" />
		<add key="User" value="sa" />
		<add key="Password" value="L1on8Zebra" />-->

		<!-- MS SQL Server, docker -->
		<!--<add key="Host" value="localhost,1400" />
		<add key="Database" value="SMS" />
		<add key="User" value="sa" />
		<add key="Password" value="L1on8Zebra" />-->

	</appSettings>
</configuration>