<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- PostgreSQL Server, MELO-HOME -->
		<add key="Host" value="localhost" />
		<add key="Port" value="5432" />
		<add key="Schema" value="public" />
		<add key="User" value="postgres" />
		<add key="Database" value="SMS" />
		<add key="Password" value="L1on8Zebra" />

		<!-- MS SQL Server, MELO-HOME -->
		<!--<add key="Host" value="melo-home\sqlexpress" />
		<add key="Database" value="SMS" />
		<add key="User" value="sa" />
		<add key="Password" value="L1on8Zebra" />-->

		<!-- MS SQL Server, docker -->
		<!--<add key="Host" value="localhost,1400" />
		<add key="Database" value="SMS" />
		<add key="User" value="sa" />
		<add key="Password" value="L1on8Zebra" />-->

	</appSettings>
</configuration>