Requirements:

* Manage People
  * Create person (ok) (Wicket)
  - Update person (dækket af update people)
  * Update people (ok)
  - Delete person (dækket af delete people)
  * Delete people (ok)
    -> Delete a single person that resided in the database during startup and was never updated (Chewbacca)
         Expected in GUI:
           - The person is removed from the master list
           - The person selection is cleared
           - The Detail view is hidden
         Expected in DB: Superseded field of the row representing the person is filled with current time
    -> Delete a single person that resided in the database during startup and that was updated during its lifetime (Rey)
         Expected in GUI:
           - The person is removed from the master list
           - The person selection is cleared
           - The Detail view is hidden
         Expected in DB:
           - Superseded field of the row representing the latest version of the person is filled with current time
    -> Delete a single person that resided in the database during startup and was never updated, but who was then updated after startup (Change Chewbacca and then try to delete him)
         Expected in GUI:
           - The person is removed from the master list
           - The person selection is cleared
           - The Detail view is hidden
         Expected in DB:
           - Superseded field of the row representing the latest version of the person is filled with current time
    -> Delete multiple people that resided in the database during startup and were never updated (Chewbacca and Finn)
         Expected: Superseded fields of the rows representing the people are filled with current time
* Manage Person associations
  * Create person association (ok))
  * Update person association (ok)
  - Update person associations (man kan kun opdatere en ad gangen)
  - Delete person association (dækket af delete person associations)
  * Delete person associations (ok)
  
* Go back in database time and or historic time... (who was alive in a given episode?)
* Change superseded rows PROHIBITED (de er kun synlige )
* Clear database (Including superseded rows)


PT (10-02-2025) er det sådan, at hvis man spørger databasen uden at angive historisk tid, så går den bare ud fra,
at man er interesseret i latest greatest af hvert eneste objekt. I praksis betyder det, at den opererer med, at historic
time of interest er lige med current time, og så identificerer den de objekter, hvis virkningstidsintervaller der skæres
af dette tidspunkt.
Alternativt har man mulighed for at sige, at man er interesseret i et historisk tidspunkt, men der gælder stadig, at det
netop er et tidspunkt og altså ikke et tidsinterval. På den måde vil det være vanskeligt at fremsøge objekter, der har et
kort virknigstidsinterval, da man jo vil skulle finde et tidspunkt, der skærer virkningstidsintervallet.

Man kunne ændre det derved at man (i stil med dfos) siger, at hvis man er interesseret i en historisk situation frem for
current situation, så angiver man et tids-INTERVAL. Det er ikke nok at gøre det for individuelle stationer, da det jo så
som nævnt er svært overhovedet at identificere de stationer.

.. Eller også så kunne man gøre det, som du jo sådan set allerede faciliterer, at man har mulighed for at fremsøge objekter,
hvorom der gælder, at deres seneste virkningstidsinterval er AFSLUTTET i forhold til time of interest. Det vil nok være den
bedste måde...

Husk i øvrigt på, at du har valgt at lade det være en boolsk attribut, om en given person er død eller levende, dvs det
at man er forbi sidste virkningstidsinterval skal her ikke tages som udtryk for at personen er død - det kan bare betyde,
at man er i tvivl. F.eks. når du jo ikke kan huske, hvornår Mormor døde, så ville du stadig kunne gemme information om hende
således at du vidste, at hun i hvert fald var levende i en periode og død i en senere periode.

