<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host" value="ec2-52-214-244-47.eu-west-1.compute.amazonaws.com" />
		<add key="Port" value="5432" />
		<add key="Database" value="d6o81fuplpdd7u" />
		<add key="Schema" value="public" />
		<add key="User" value="qekgqcstuzyfbn" />
		<add key="Password" value="6618ffd8988f6e8316e6c7feabf2ba0b68f671c05bdfc108668ec6697bd0be02" />
	</appSettings>
</configuration>