<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Denne sektion bruges af den ConnectionStringProvider, som er i DMI.SMS.Persistence.EntityFrameworkCore.PostgreSQL -->
		<add key="Host" value="localhost" />
		<add key="Port" value="5432" />
		<add key="Database" value="WigosII" />
		<add key="Schema" value="public" />
		<!--<add key="User" value="root" />
		<add key="Password" value="root" />-->
		<add key="User" value="postgres" />
		<add key="Password" value="L1on8Zebra" />
		<!-- Denne sektion bruges af den ConnectionStringProvider, som er i DMI.SMS.Persistence.Npgsql -->
		<add key="SMS_PostgreSQL_Host" value="172.25.7.23" />
		<add key="SMS_PostgreSQL_Port" value="5432" />
		<add key="SMS_PostgreSQL_Database" value="sms_prod" />
		<add key="SMS_PostgreSQL_Schema" value="sde" />
		<add key="SMS_PostgreSQL_UserID" value="ebs" />
		<add key="SMS_PostgreSQL_Password" value="Vm6PAkPh" />
		<!-- Denne sektion bruges af den ConnectionStringProvider, som er i DMI.StatDB.Persistence.Npgsql -->
		<add key="StatDB_PostgreSQL_Host" value="nanoq.dmi.dk"/>
		<add key="StatDB_PostgreSQL_Port" value="5432"/>
		<add key="StatDB_PostgreSQL_Database" value="statdb"/>
		<add key="StatDB_PostgreSQL_Schema" value="public"/>
		<add key="StatDB_PostgreSQL_UserID" value="ebs"/>
		<add key="StatDB_PostgreSQL_Password" value="Vm6PAkPh"/>
	</appSettings>
</configuration>