@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="heroOverview">
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Armor Class</td>
            <td>Hit Points</td>
            <td>Thaco</td>
        </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
</div>

@*<div id="experiment">
    <table>
        <tr>
            <th><span>Switch selection to generate a number for showing in the field at the bottom</span></th>
        </tr>
        <tr>
            <td>
                <select id="from" onchange="dummyFunction();">
                    <option value="val1" selected>Bamse</option>
                    <option value="val2">Kylling</option>
                </select>
            </td>
        </tr>
        <tr><td><div id="output">Hejsa</div></td></tr>
    </table>
</div>*@