@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="heroOverview">
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Armor Class</td>
            <td>Hit Points</td>
            <td>Thaco</td>
        </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
</div>
