<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host_Source" value="nanoq-ro.dmi.dk" />
		<add key="Host_Target" value="root" />
		<add key="Port_Source" value="5432" />
		<add key="Port_Target" value="5432" />
		<add key="Database_Source" value="obsdb" />
		<add key="Database_Target" value="WigosII" />
		<add key="Schema_Source" value="public" />
		<add key="Schema_Target" value="public" />
		<add key="User_Source" value="ebs" />
		<!-- <add key="User_Source" value="postgres" /> -->
		<add key="User_Target" value="root" />
		<add key="Password_Source" value="Vm6PAkPh" />
		<!-- <add key="Password_Target" value="L1on8Zebra" /> -->
		<add key="Password_Target" value="root" />
	</appSettings>
</configuration>