@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table>
        <tr>
            <th><span>Switch selection to generate a number for showing in the field at the bottom</span></th>
        </tr>
        <tr>
            <td>
                <select id="from" onchange="dummyFunction();">
                    <option value="val1" selected>Bamse</option>
                    <option value="val2">Kylling</option>
                </select>
            </td>
        </tr>
        <tr><td><div id="output"></div></td></tr>
    </table>
</div>
