<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host_Source" value="nanoq.dmi.dk" />
		<add key="Port_Source" value="5432" />
		<add key="Database_Source" value="obsdb" />
		<add key="Schema_Source" value="public" />
		<add key="User_Source" value="ebs" />
		<add key="Password_Source" value="Vm6PAkPh" />
	</appSettings>
</configuration>